<!DOCTYPE html>
<html>
  <head>
    <title>TweetStream</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-slider.css">
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron">
        <h1>TweetStream</h1>
        <div class="wrapper">
          <div class="twitter-bird"></div>
        </div>
      <h3 class="explain">Get the latest buzz on your favorite topic as it happens.</h3>
      </div>
      <section class="row">
        <aside class="col-sm-4 text-center">
          <form class="form-inline" name="search">
            <div class="form-group">
              <label for="searchTerm">Term</label>
              <input type="text" class="form-control" id="searchTerm">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
          <button id="toggle-button"
                  class="btn btn-warning text-center"
                  onclick="toggleStream()"></button>
          <br/>
          <br/>
          <label>Number of Tweets to Show</label>
          <input id="slider"
                 type="text"
                 data-slider-id='slider'
                 data-slider-min="1"
                 data-slider-max="20"
                 data-slider-step="1"
                 data-slider-value="10"/>
          <span id="sliderValue"></span>
        </aside>
        <main class="col-sm-8 text-center">
          <h3 id="displaying">Use the search bar to the left to look up a keyword.</h3>
                    <button id="clear-button"
                    class="btn btn-danger btn-sm"
                    onclick="clearTweets()">Clear</button>

            <div id="tweet-container"></div>

        </main>
      </section>
    </div>
  </body>


  <script type="text/javascript" src="/javascripts/jquery.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/bootstrap-slider.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/socket.io.js" defer></script>
  <script type="text/javascript" src="/javascripts/app.js" defer></script>

</html>


