body {
  background-color: #dedfe0;
  color: #00B8E5;
}

.jumbotron {
  margin-top: 15px;
}


h2, h3 {
  text-align: center;
  color: #00B8E5;
  text-shadow: 0 0 2px #fff;
  line-height: 1;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: #00B8E5;
  text-shadow: 0 0 5px #fff;
  line-height: 1;
  margin-bottom: 20px;
  transition: 1s;
}

h1:hover {
  transition: 1s;
  font-size: 65px;
}

h3.explain {
  color: #9a9fa0;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.background1 {
  background-color: #EEEEEE;
  border-radius: 5px;
  width: 400px;
  margin-left: 15px;
  margin-right: 10px;
}

.background2 {
  background-color: #EEEEEE;
  border-radius: 5px;
  width: 800px;
  padding: 50px;
  margin-top: -10px;
}

#slider {
  margin: 10px;
}


#sliderValue {
  color: #00B8E5;
}

#clear-button {
  margin-bottom: 15px;
}

.tweet {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
  background-color: #fdfdfd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
  opacity: 0;
  transition:opacity 0.25s linear;
}

#tweet-container {
  background-color: #9a9fa0;
  margin: 10px;
}

.tweet.fadeIn {
  opacity: 1;
}


.tweet.fadeOut {
  opacity: 0;
}


#slider .slider-selection {
  background: #BABABA;
}


.names, .contents {
  margin-left: 60px;
}


form {
  text-align: center;
  max-width: 350px;
  margin: 0 auto 20px;
}


.form-inline {
  margin-top: 30px;
}


.col-sm-8.text-center {
  margin-top: 10px;
}

.twitter-bird {
    height: 38px;
    width: 37.5px;
    background-image: url("../images/twitterbird.png");
}

.twitter-bird:hover {
    -webkit-animation: fly .4s steps(3) infinite;
       -moz-animation: fly .4s steps(3) infinite;
        -ms-animation: fly .4s steps(3) infinite;
         -o-animation: fly .4s steps(3) infinite;
            animation: fly .4s steps(3) infinite;
}

@-webkit-keyframes fly {
   from { background-position:    0px; }
     to { background-position: -112.5px; }
}

@-moz-keyframes fly {
   from { background-position:    0px; }
     to { background-position: -112.5px; }
}

@-ms-keyframes fly {
   from { background-position:    0px; }
     to { background-position: -112.5px; }
}

@-o-keyframes fly {
   from { background-position:    0px; }
     to { background-position: -112.5px; }
}

@keyframes fly {
   from { background-position:    0px; }
     to { background-position: -112.5px; }
}
